.titulo,
.textFooter {
  font-weight: 700;
  font-size: 20px;
}

.textLinks {
  font-weight: 500;

}

.frontend {
    color: red;
}

.day {
    color: orange;
}

.counter {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 6px;
    margin: 12px 0 0;
  }
  
  .logo img {
    width: 200px;
    border-radius: 20px;
  }

  .profilePicture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .containerCards{
    gap: .8rem;
    border: solid 20px transparent;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
  }

  .containerCards img:hover{
    transform: scale(1.05);
    transition: .7s;
  }


  